/* ===========================================================
                    Common css start
==============================================================*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    display: inline-block;
}
img{
    vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
 li,
  a,
   img {
     margin: 0;
     padding: 0;
}

.container{
    width: 1320px;
    margin: auto;
}
/* ===========================================================
                    Common css end
==============================================================*/


/* ===========================================================
                    Banner part css start
==============================================================*/

#banner_part {
    background: url(../images/banner_img.png);
    padding: 25px 0 458px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#banner_part .menu_parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner_part .menu_parent .menu_list ul{
    display: flex;
    column-gap: 60px;
}

#banner_part .menu_parent .menu_list ul li a{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif; 
    transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;

}

#banner_part .menu_parent .menu_list ul li a:hover{
    color: #000000;
}

#banner_part .discover{
    margin-top: 200px;
}

#banner_part .discover h4{
    color: #FFC178;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 7px;
    text-transform: uppercase;
    margin-bottom: 37px;
}

#banner_part .discover h1 span{
    display: block;
    color: #fff;
    font-size: 96px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    line-height: 100px;
    text-transform: capitalize;
}

#banner_part .discover h1{
color: #FFF;
font-family: 'Open Sans', sans-serif;
font-size: 88px;
font-weight: 400;
text-transform: capitalize;
}

/* ===========================================================
                    Banner part css end
==============================================================*/


/* ===========================================================
                    Holiday part css start
==============================================================*/

#holiday_part{
    padding: 200px 0; 
    background-color: #000000;
}

#holiday_part .holiday_wraper{
    display: flex;
    column-gap: 23px;
}

#holiday_part .holiday_wraper .holiday_right .holiday_heading{
color: #FBD784;
font-family: 'Open Sans', sans-serif;
font-size: 18px;
font-weight: 700;
letter-spacing: 6px;
text-transform: uppercase;
}

#holiday_part .holiday_wraper .holiday_right h1{
color: #FFF;
font-family: 'Open Sans', sans-serif;
font-size: 64px;
font-weight: 700;
text-transform: uppercase;
margin-top: 13px;
}

#holiday_part .holiday_wraper .holiday_right p{
color: #FFF;
font-family: 'Open Sans', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 32px;
text-transform: uppercase;
margin-top: 13px;
}

#holiday_part .holiday_wraper .holiday_right a{
color: #FBD784;
font-family: 'Open Sans', sans-serif;
font-size: 18px;
font-weight: 700;
text-transform: uppercase;
margin-top: 66px;
}




/* ===========================================================
                    Holiday part css end
==============================================================*/

/* ===========================================================
                    climb part css start
==============================================================*/

#climb{
    padding: 50px 0;
    background-color: #000000;
}

#climb .climb_image {
height: 900px;
background: url(../images/climb.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

#climb .climb_image .climb_overlay{
position: absolute;
left: 15%;
bottom: 3%;
width: 70%;
text-align: center;
color: white;
}

#climb .climb_image .climb_overlay h3{
color: #FBD784;
font-family: 'Open Sans', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 6px;
text-transform: uppercase;
}

#climb .climb_image .climb_overlay h1{
color: #FFF;
text-align: center;
font-family: 'Open Sans', sans-serif;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-top: 13px;
}

#climb .climb_image .climb_overlay p{
    color: #FFF;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    text-transform: uppercase;
    margin-top: 14px;
}

#climb .climb_image .climb_overlay a{
color: #FBD784;
font-family: 'Open Sans', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-top: 26px;
}

/* ===========================================================
                    climb part css end
==============================================================*/


/* ===========================================================
                    culture part css start
==============================================================*/

#culture_part{
    padding: 200px 0; 
    background-color: #000000;
}

#culture_part .culture_wraper{
    display: flex;
    column-gap: 23px;
}

#culture_part .culture_wraper .culture_left .culture_heading{
color: #FBD784;
font-family: 'Open Sans', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 6px;
text-transform: uppercase;
margin-top: 160px;
}

#culture_part .culture_wraper .culture_left h1{
color: #FFF;
font-family: 'Open Sans', sans-serif;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-top: 19px;
}

#culture_part .culture_wraper .culture_left p{
 color: #FFF;
 font-family: 'Open Sans', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 32px;
text-transform: uppercase;
margin-top: 19px;
}

#culture_part .culture_wraper .culture_left a{
color: #FBD784;
font-family: 'Open Sans', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-top: 47px;
}
/* ===========================================================
                    culture part css end
==============================================================*/


/* ===========================================================
                    footer part css start
==============================================================*/

#footer_part {
    padding: 100px 0px 24px 0px;
    background-color: black;
}

#footer_part .footer_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_all_button a[href="www.explore.com"] {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.3px;
    text-transform: capitalize;
    margin-right: 18px;
}
.footer_all_button a[href="www.getstarted.com"] {
color: #000;
font-family: 'Open Sans', sans-serif;
font-size: 17px;
font-style: normal;
font-weight: 700;
padding: 18px 67px;
background-color: #FFA343;
border-radius: 10px;
text-transform: capitalize;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 58px;
}

.footer_bottom .footer_bottom_left h2{
color: #FFF;
font-family: 'Open Sans', sans-serif;
font-size: 36px;
letter-spacing: -0.3px;
text-transform: capitalize;
margin-bottom: 49px;
}

.footer_bottom .footer_bottom_left p{
color: #FFF;
font-family: 'Open Sans', sans-serif;
font-size: 15px;
font-weight: 400;
letter-spacing: -0.205px;
text-transform: capitalize;
margin-bottom: 34px;
}

.footer_bottom .footer_bottom_left .social_icons i{
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: green;
    color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    transition: all linear 0.3s;
}

.footer_bottom .footer_bottom_left .social_icons i:hover{
    background-color: #FFA343;
    color:#000000;
    transform: translateY(-25%);
}

.footer_botttom_right{
    display: flex;
    column-gap: 84px;
}

.footer_botttom_right ul h5 {
color: #FFD1A0;
font-family: 'Open Sans', sans-serif;
font-size: 20px;
font-weight: 700;
letter-spacing: -0.232px;
text-transform: capitalize;
margin-bottom: 11px;
}

.footer_botttom_right ul li {
    padding-bottom: 8px;
}

.footer_botttom_right ul li a {
color: #FFF;
font-family: 'Open Sans', sans-serif;
font-size: 19px;
font-weight: 400;
letter-spacing: -0.205px;
text-transform: capitalize;
}

.footer_botttom_right .last_footer_item {
    padding-left: 48px;
}

.copy_right {
color: #FFF;
text-align: center;
}

.copy_right a{
color: #FFF;
text-align: center;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 32px; /* 177.778% */
}

/* ===========================================================
                    footer part css end
==============================================================*/